@{
    Layout = null;
}
<!-- NON-RESPONSIVE NavBar -->
<nav class="navbar navbar-default navbar-fixed-bottom non-responsive">
    <div class="container">

        <div id="navbar">
            @Html.Partial("~/Views/ISA/NavBarSelectionTools.cshtml")
        </div>

    </div>
</nav>
