<ul class="nav navbar-nav navbar-left ">
    <li>
        <a href="#" title="Show/Hide selections panel" data-autohide="false" data-toggle="offcanvas" data-target="#qlik-filters-menu" data-disable-scrolling="true" data-canvas="#canvas-container" data-recalc="false" >
            <span class="offcanvas-switch"></span> Selections <span data-qlik-content="total-selections" class="badge"></span>
        </a>
    </li>
    <li>
        <a href="#" title="Clear filters" data-qlik-action="clearall">
            <span aria-hidden="true" class="fa fa-times"></span> Remove selections
        </a>
    </li>
</ul>
