<footer class="footer hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <img src="~/Content/Image/accelya_small.png" />
            </div>
            <div class="col-md-6 col-lg-6 text-right copyright">
                <span class="text-muted">&copy; @DateTime.Now.Year Accelya</span>
            </div>
        </div>
    </div>
</footer>
