<style>
    #home {
    padding-top: 1px;
    }

    
  .accelya-icon{

    color: #BF1E2D;
  
   
    }

  .ulLoggin{

      

      margin-top:10px !important;
  }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <ul class="nav navbar-nav navbar-right ulLoggin line padding-rigth-0 ">
       
            <li style="height:40px; margin-top:0px; " class="line padding-rigth-0">
                <a class="line padding-rigth-0" id="home" href="@Url.Action("Aplications", "eSmash", new { })"><img id="ancillary" /><i class="fa fa-home fa-2x accelya-icon padding-rigth-0" aria-hidden="true"></i></a>
            </li>


            <li style="margin-left:auto; height:40px" class="line padding-rigth-0">
                <a class="line padding-rigth-0" id="home" href="@Url.Action("loggout", "eSmash", new { })"><img id="ancillary"  /><i class="fa fa-sign-out fa-2x accelya-icon padding-rigth-0" aria-hidden="true"></i></a>
            </li>
</ul>

