
<select>
    <option value="market">market</option>
    <option value="Passengers">Passengers</option>
    <option value="Yield">Yield</option>
    <option value="Revenue">Revenue</option>
    <option value="Yield">Yield</option>
    <option value="agentrevenue">agentrevenue</option>
    <option value="routepassenger">routepassenger</option>
    <option value="agentrpassenger">agentrpassenger</option>
    <option value="classAnalysis">classAnalysis</option>
    <option value="performance">performance</option>
    <option value="reporting">reporting</option>
</select>

