<!-- HTML template for data-content="qlik-current-selections" -->
<script id="current-selection-template" type="text/template">

    <div class="current-selection">
        <div class="current-selection-header">
            <button type="button" class="close" data-qlik-action="dismiss" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="current-selection-title"><!-- here goes the field name --></span>
        </div>
        <div class="current-selection-body">
            <span class="current-selection-content"><!-- here goes the current values --></span>
        </div>
    </div>

</script>
